{% if bucket %}
  <h4>bucket {{ bucket.number }} (id {{ bucket.id }})</h4>
    <ul style="columns: 3;">
      <li><b>bucket id:</b> {{ bucket.id }}</li>
      <li><b>number:</b> {{ bucket.number }}</li>
      <li><b>dating:</b> {{ bucket.dating }}</li>
      <li><b>remarks:</b> {{ bucket.remarks }}</li>
      <li><b>created:</b> {{ bucket.created|date("d.m.Y") }}</li>
      <li><b>modified:</b> {{ bucket.modified|date("d.m.Y") }}</li>
      <li><b>locus:</b> {{ bucket.locus.id }}</li>
      <li>
          <b>{{ bucket.finds|length }} find{% if bucket.finds|length > 1 %}s{% endif %}:</b>
         {% for f in bucket.finds %}
         <a href="{{ path('PapyrillioBerenike_FindShow', {'id': f.id}) }}">{{ f.id }}</a>
         {% endfor %}
      </li>
    </ul>
  <br />
  {% include 'locus/_locus.html.twig' with {'locus': bucket.locus} %}
{% endif %}
